@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="confirmation-container">
    <i class="fas fa-check-circle confirmation-icon"></i>
    <h2 class="confirmation-text">Gửi mail thành công</h2>
    <a href="https://mail.google.com/">Đăng nhập vào email để đôi mật khẩu</a>
</div>
