@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var email = ViewBag.Email;
    var code= ViewBag.Code;
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Xác nhận đổi mật khẩu</h4>
                    <form asp-controller="User" asp-action="ResetPassword">
                        <input type="hidden" name="Email" value="@email"/>
                        <input type="hidden" name="Code" value="@code" />
                        <div class="mb-3">
                            <label for="Password" class="form-label">New Password</label>
                            <input type="password" class="form-control" name="Password" id="Password" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Comfirm Password</label>
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter your password">
                        </div>
                        <div class="text-danger">
                            @Html.ValidationSummary()
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>