@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="confirmation-container">
    <i class="fas fa-check-circle confirmation-icon"></i>
    <h1 class="confirmation-text">Mật khẩu của bạn đã được đặt lại thành công!</h1>
</div>
