<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <style>
        body {
            background-image: url('../../dist/imgbackground/backgroundlogin.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .confirmation-container {
            text-align: center;
            background-color: white; /* Đặt màu nền thành màu trắng */
            padding: 50px; /* Thêm padding cho .confirmation-container */
            border-radius: 10px; /* Đặt viền cong cho .confirmation-container */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đặt hiệu ứng bóng đổ */
            max-width: 400px; /* Đặt chiều rộng tối đa */
            margin: 0 auto; /* Căn giữa theo chiều ngang */
        }

        .confirmation-icon {
            color: green;
            font-size: 100px;
        }

        .confirmation-text {
            font-size: 24px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    @RenderBody()
    <!-- Bootstrap JS and Popper.js scripts (place at the end of the body for better performance) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>


